.gm-day-view-spacer {
	height: 100%;
	width: 4rem;
}

.gm-day-view-line {
	position: absolute;
	width: 100%;
	border-top: 1px solid whitesmoke;

	&.now {
		border-top-color: blue;
		z-index: 1; /* Place on same level as eventView */
	}
}

.gm-cal-item-container {
	flex: 1;
	position: relative;
	overflow: hidden;
}

.gm-cal-item {
	overflow: hidden;
	z-index: 1; /* Place higher than gmEventView so clicks trigger properly */
}

.gm-cal-item-spacer {
	flex: 1 0 0;
	pointer-events: none;
}

gm-day-view-container gm-event-view {
	position: absolute;
	width: 100%;
	display: flex;
}
