/* You can add global styles to this file, and also import other style files */

.gm-different-month {
	background: #eee;
}

.gm-cal-item {
	background: white;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 3px;
	height: 100%;
	box-sizing: border-box;
}

gm-date-view {
  min-height: 150px;
}