<div>
  <label for="thing" (click)="switch(true)">
    Month
    <input id="thing" name="mode" type="radio" value="1" checked />
  </label>
  <label for="thing2" (click)="switch(false)">
    Day
    <input id="thing2" name="mode" type="radio" value="0" />
  </label>
</div>

<gm-month-view *ngIf="monthMode" [date]="monthDate" [items]="items"></gm-month-view>

<ng-container *ngIf="!monthMode">
  <div style="text-align:center">
    <strong>{{today | date:'mediumDate'}}</strong>
  </div>
  <div style="height:50px">
    <gm-all-day-view-container>
      <gm-day-view>
        <gm-event-view [item]="allDayItem">
          {{allDayItem.title}}
        </gm-event-view>
      </gm-day-view>
    </gm-all-day-view-container>
  </div>
  <div style="height:600px; overflow: auto">
    <gm-day-view-container [scrollToHour]="lastHour">
      <gm-day-view [isToday]="true">
        <gm-event-view *ngFor="let item of items" [item]="item">
          {{item.title}}
        </gm-event-view>
      </gm-day-view>
    </gm-day-view-container>
  </div>
</ng-container>